In [1]:
import pandas as pd

In [11]:
pd.read_csv(r"C:\Users\Vinod R\Desktop\Tex\Company_ID.csv", header = None, names = ['Sl.No.', 'Companies', 'Industry', 'Revenue', 'Growth', 'Employees', 'Headquarters'])

,Sl.No.,Companies,Industry,Revenue,Growth,Employees,Headquarters
0,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
1,1,Walmart,Retail,"6,11,289",6.70%,"21,00,000","Bentonville, Arkansas"
2,2,Amazon,Retail and cloud computing,"5,13,983",9.40%,"15,40,000","Seattle, Washington"
3,3,ExxonMobil,Petroleum industry,"4,13,680",44.80%,"62,000","Spring, Texas"
4,4,Apple,Electronics industry,"3,94,328",7.80%,"1,64,000","Cupertino, California"
...,...,...,...,...,...,...,...
96,96,Best Buy,Retail,"46,298",10.60%,"71,100","Richfield, Minnesota"
97,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.50%,"34,300","New York City, New York"
98,98,United Airlines,Airline,"44,955",82.50%,"92,795","Chicago, Illinois"
99,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.50%,"1,30,000","Waltham, Massachusetts"
100,100,Qualcomm,Technology,"44,200",31.70%,"51,000","San Diego, California"